// import all scss files to create 1 complete css file
// order of imports could have impact on result, so keep an eye on that

@import 'scss/all';

* {
  box-sizing: border-box;
}

body {
  padding-top: 40px;
}

#content {
  width: 100%;
  max-width: 1080px;
  margin: 40px auto;
  padding: 0 30px;
  min-height: calc(100vh - 180px);
}

// reset

button {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;

  &:active, &:focus { outline: none }
}