.header {
  position: relative;
  z-index: 99;
  padding: 20px 40px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // background-color: #fff;
  z-index: 99;

  h1 { margin: 0 }

  &__logo {
    font-family: $serif;
    font-size: .8em;

    span {
      display: block;
      font-style: italic;
      font-family: $sans-serif;
      font-size: .8em;
      font-weight: normal;
    }
  }

  &__list {
    display: inline-block;
    padding: 0;

    &__item {
      list-style: none;
      display: inline-block;

      a, button {
        padding: 10px 24px;
        transition: .2s ease-in-out transform;
        display: block;
        font-size: 1em;
      }

      .switch-button { color: red; }
    }
  }
}