.nav {
  @extend %flex-center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 99;

  &__list {
    display: inline-block;
    margin: 0 auto;
    border-bottom: 1px solid #EFEFEF;
    padding: 0;

    &__item {
      list-style: none;
      display: inline-block;
      font-family: $sans-serif;

      button {
        text-transform: uppercase;
        cursor: pointer;
        padding: 18px 24px;
        letter-spacing: .1em;
        font-weight: 300;
        transition: .2s ease-in-out transform;

        &:hover { transform: skewY(-5deg); }

        &.is--active { 
          text-decoration: line-through;
          transform: skewY(-5deg);
        }
      }
    }
  }
}