@import url('https://fonts.googleapis.com/css?family=Bitter:700|Ubuntu+Mono:400,700&subset=latin-ext');

$sans-serif: 'Ubuntu Mono', sans-serif;
$serif: 'Bitter', Times, serif;

$h1: 2.5rem;
$h2: 2rem;
$h3: 1.2rem;
$h4: .8rem;