.about {
  padding-left: 40px;
  display: flex;

  
  article {
    max-width: 400px;
    margin: 40px auto;
    position: relative;
    left: -60px;

    p { 
      font-family: $sans-serif;     
      line-height: 1.6;
    }
  }
}