

.home {
  @extend %flex-center;

  &__img {
    max-width: 45vw;
    max-height: 70vh;
    animation: fade-in--img 2s ease-out forwards;
    opacity: 0;
    filter: blur(.1em);
    margin-right: 7vw;
  }

  &__titles {
    & > * {
      transform: translateY(5px) skewY(0deg);
      transform-origin: bottom left;
      opacity: 0;
      filter: blur(.1em);
    }

    &__name {
      animation: fade-in--title 1.5s 1.8s ease-out forwards;
      font-size: $h1;
      margin-bottom: .5em;
    }

    &__study {
      animation: fade-in--title 1.5s 2s ease-out forwards;
      font-size: $h4;
      letter-spacing: .2em;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
    }
  }
}

@keyframes fade-in--img {
  from { filter: blur(.1em); opacity: 0; transform: translateY(5px); }
  to { filter: blur(0em); opacity: 1; transform: translateY(0px); }
}

@keyframes fade-in--title {
  from { filter: blur(.1em); opacity: 0; transform: translateY(5px) skewY(0deg); }
  to { filter: blur(0em); opacity: 1; transform: translateY(0px) skewY(-5deg); }
}