

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;

  @include mappy-bp(max-height 800px) {
    height: 100vh;
  }

  &__img {
    width: calc(50% - 400px);
    max-height: 55vh;
    animation: fade-in--img 2s ease-out forwards;
    opacity: 0;
    filter: blur(.1em);

    object-fit: contain;
  }

  &__titles {
    padding: 100px 0;
    transform: rotate(-30deg);
    position: relative;
    width: calc(50% - 200px);
    left: 6vw;

    h1 {
      font-size: 1.2em; 
    }
    
    p {
      height: 0;
      font-size: 1em; 
      
      svg {
        @include rel(-10vw, null, null, 2vw);
        width: 21vw;
        transform: rotate(5deg);

        text { 
          font-weight: 400;
        }
      }
    }
  }

  &__projects {
    width: 600px;
    padding-left: 200px;
    padding-top: 60px;

    header {
      display: flex;
      width: 100%;
      justify-content: space-between;

      h1 {
        font-family: $sans-serif;
        font-weight: normal;
      }

      div {
        display: flex;
        align-items: center;

        p { font-weight: bold }
        
        button {
          padding: 0 20px;
        }
      }
    }

    main {
      h1 {
        font-size: 3em;
        margin: 40px 0;
      }
      
      ul li {
        article img {
          width: 120%;
          position: relative;
          right: 0vw;
          mix-blend-mode: multiply;
        }

        a {
          float: right;
          padding: 20px;
        }
      }
    }

    footer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-top: 20px;

      a {
        padding: 20px 20px 0;
      }
    }
  }

 &__info {
    width: 33vw;
    position: relative;
    z-index: 1;
  }
}

@keyframes fade-in--img {
  from { filter: blur(.1em); opacity: 0; transform: translateY(5px); }
  to { filter: blur(0em); opacity: 1; transform: translateY(0px); }
}

@keyframes fade-in--title {
  from { filter: blur(.1em); opacity: 0; transform: translateY(5px) skewY(0deg); }
  to { filter: blur(0em); opacity: 1; transform: translateY(0px) skewY(-5deg); }
}